<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatChannel</title>
    <title>Channel</title>
    <script>
        let userId = window.localStorage.getItem("userId");

        function sendMessage() {
            const content = document.getElementById('messageInput').value;
            fetch(`/channel/messages?content=${encodeURIComponent(content)}`, {
                method: 'POST',
                headers: {
                    'userId': userId,
                }
            });
            document.getElementById('messageInput').value = '';
        }

        function loadMessages() {
            fetch(`/channel/messages`)
                .then(response => response.json())
                .then(messages => {
                    const messageList = document.getElementById('messageList');
                    messageList.innerHTML = '';
                    messages.forEach(message => {
                        const messageItem = document.createElement('li');
                        messageItem.textContent = message.content;
                        messageList.appendChild(messageItem);
                    });
                });
        }

        setInterval(loadMessages, 500);
    </script>
</head>
<body>
    <h1>Channel: general</h1>
    <ul id="messageList"></ul>
    <textarea id="messageInput" placeholder="Type your message..." rows="3"></textarea>
    <button onclick="sendMessage()">Send</button>

</body>
</html>